body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header, footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}
h1 {
    font-family: Verdana;
    text-align: center;
    color: #ffffff;
}
h2 {
    font-family: Verdana;
    text-align: center;
    color: #ffffff;
}
p {
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    color: #ffffff;
}
a {
    font-size: 30px;
    font-family: Verdana;
    text-align: center;
    color: #000000;
}
img {
  display: block;
  margin: auto;
  width: 50%;
}
audio {
    display: block;
    margin: auto;
}